@import "fonts.scss";
@import "mixin.scss";
@import "reset.scss";

.wrapper {}

.header {
   width: 100%;
   padding: 30px 0px;
   background: #ecf7f3;

   &__inner {
      max-width: 1143px;
      width: 100%;
      margin: 0 auto;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__logo-link {}

   &__menu {}

   &__nav-list {}

   &__nav-item {
      margin: 0px 20px;
   }

   &__nav-item-link {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #4a4a4a;
      text-decoration: none;
      position: relative;

      &--active::before {
         content: "";
         position: absolute;
         min-width: 21px;
         height: 1px;
         background-color: #fb9b69;
         bottom: -3px;
         right: 50%;
         transform: translateX(50%);
      }
   }
}

.logo {}

.nav {
   &__list {
      display: flex;
      list-style: none;
   }

   &__list-item {}

   &__item-link {}

   &__item-link {
      &--active::before {
         content: "";
         position: absolute;
         min-width: 21px;
         height: 1px;
         background-color: #fb9b69;
         bottom: -3px;
         right: 50%;
         transform: translateX(50%);
      }
   }
}

.button {
   display: inline-block;
   background: #48b774;
   border-radius: 20px;
   padding: 9px 23px;
   text-decoration: none;

   &:hover {
      opacity: 0.7;
   }

   &__name {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
   }

   &--active {
      background-color: red;
   }
}

.hero {
   width: 100%;
   background: #ecf7f3;
   padding-bottom: 44px;

   &__inner {
      max-width: 1143px;
      width: 100%;
      padding: 0 15px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
   }

   &__items-left {
      max-width: 597px;
      width: 100%;
   }

   &__title {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      font-size: 48px;
      line-height: 65px;
      color: #2d2d2d;
      margin-bottom: 22px;
   }

   &__text {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 26px;
      color: #7c7c7c;
      margin-bottom: 30px;
   }

   &__button {
      margin-bottom: 50px;
   }

   &__search-w {
      width: 100%;
      position: relative;
      margin-bottom: 40px;
   }

   &__search {
      width: 100%;
      height: 62px;
      padding: 0px 3px 0px 40px;
      background: #ffffff;
      box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
      border-radius: 100px;
      outline: none;
      border: none;

      &::placeholder {
         font-family: "Roboto", sans-serif;
         font-weight: 400;
         font-size: 16px;
         line-height: 19px;
         letter-spacing: 0.01em;
         color: #a2a2a2;
      }
   }

   &__search-prompt {
      color: red;
   }

   &__search-icon {
      position: absolute;
      right: 3px;
      transform: translateY(6%);
   }


   &__users {
      display: flex;
      align-items: center;
   }

   &__users-icons {
      position: relative;
      display: flex;
      width: 100px;
   }

   &__user-icon {
      position: relative;
      top: 0;

      &:first-child {
         left: 0px;
         z-index: 4;
      }

      &:nth-child(2) {
         left: -19px;
         z-index: 3;
      }

      &:nth-child(3) {
         left: -35px;
         z-index: 2;
      }

   }

   &__plus-w {
      position: relative;
      width: 38px;
      height: 38px;
      background: #FF8345;
      border: 3px solid #FFFFFF;
      border-radius: 50%;
      display: flex;
      padding: 6px;
      left: -50px;
      z-index: 1;
   }

   &__users-statistics {
      margin-left: 12px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #707070;
   }

   &__users-statistics-color-orange {
      color: #FF8345;
   }

   &__items-right {
      position: relative;
      max-width: 450px;
      width: 1005px;
   }

   &__img {
      position: relative;
      top: 20px;
      left: -170px;
   }

   &__carousel {}

   &__green-circle {}

}