/* poppins-regular - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v20-latin-regular.woff") format("woff"), url("../fonts/poppins-v20-latin-regular.ttf") format("truetype"), url("../fonts/poppins-v20-latin-regular.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-500 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/poppins-v20-latin-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-500.woff2") format("woff2"), url("../fonts/poppins-v20-latin-500.woff") format("woff"), url("../fonts/poppins-v20-latin-500.ttf") format("truetype"), url("../fonts/poppins-v20-latin-500.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* poppins-700 - latin */
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/poppins-v20-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/poppins-v20-latin-700.woff2") format("woff2"), url("../fonts/poppins-v20-latin-700.woff") format("woff"), url("../fonts/poppins-v20-latin-700.ttf") format("truetype"), url("../fonts/poppins-v20-latin-700.svg#Poppins") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 100%;
  min-height: 757px;
  background-color: #ECF7F3;
}

.header {
  width: 100%;
  padding: 30px 0px 42px 0px;
  background: #ecf7f3;
}
.header__inner {
  max-width: 1143px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item {
  margin: 0px 20px;
}
.header__nav-item-link {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #4a4a4a;
  text-decoration: none;
  position: relative;
}
.header__nav-item-link--active::before {
  content: "";
  position: absolute;
  min-width: 21px;
  height: 1px;
  background-color: #fb9b69;
  bottom: -3px;
  right: 50%;
  transform: translateX(50%);
}

.nav__list {
  display: flex;
  list-style: none;
}
.nav__item-link--active::before {
  content: "";
  position: absolute;
  min-width: 21px;
  height: 1px;
  background-color: #fb9b69;
  bottom: -3px;
  right: 50%;
  transform: translateX(50%);
}

.button {
  display: inline-block;
  background: #48b774;
  border-radius: 20px;
  padding: 9px 23px;
  text-decoration: none;
}
.button:hover {
  opacity: 0.7;
}
.button__name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.button--active {
  background-color: red;
}

.hero {
  width: 100%;
  background: #ecf7f3;
  padding-bottom: 44px;
  padding: 42px 0px 44px 0px;
}
.hero__inner {
  max-width: 1143px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.hero__items-left {
  max-width: 597px;
  width: 100%;
}
.hero__title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #2d2d2d;
  margin-bottom: 22px;
}
.hero__text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 26px;
  color: #7c7c7c;
  margin-bottom: 30px;
}
.hero__button {
  margin-bottom: 50px;
}
.hero__search-w {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}
.hero__search {
  width: 100%;
  height: 62px;
  padding: 0px 3px 0px 40px;
  background: #ffffff;
  box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
  border-radius: 100px;
  outline: none;
  border: none;
}
.hero__search::-moz-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #a2a2a2;
}
.hero__search:-ms-input-placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #a2a2a2;
}
.hero__search::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.01em;
  color: #a2a2a2;
}
.hero__search-prompt {
  color: red;
}
.hero__search-icon {
  position: absolute;
  right: 3px;
  transform: translateY(6%);
}
.hero__users {
  display: flex;
  align-items: center;
}
.hero__users-icons {
  position: relative;
  display: flex;
  width: 100px;
}
.hero__user-icon {
  position: relative;
  top: 0;
}
.hero__user-icon:first-child {
  left: 0px;
  z-index: 4;
}
.hero__user-icon:nth-child(2) {
  left: -19px;
  z-index: 3;
}
.hero__user-icon:nth-child(3) {
  left: -35px;
  z-index: 2;
}
.hero__plus-w {
  position: relative;
  width: 38px;
  height: 38px;
  background: #FF8345;
  border: 3px solid #FFFFFF;
  border-radius: 50%;
  display: flex;
  padding: 6px;
  left: -50px;
  z-index: 1;
}
.hero__users-statistics {
  margin-left: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #707070;
}
.hero__users-statistics-color-orange {
  color: #FF8345;
}
.hero__items-right {
  position: relative;
  max-width: 450px;
  width: 100%;
}
.hero__img {
  position: absolute;
  top: 43px;
  left: -190px;
  z-index: 1;
}
.hero__carousel {
  position: relative;
  max-width: 450px;
  height: 450px;
  width: 100%;
  border: 2px solid #E8E8E8;
  border-radius: 50%;
  bottom: 0px;
  left: 0;
}
.hero__green-circle {
  position: absolute;
  width: 280px;
  height: 280px;
  background: #48B774;
  border-radius: 50%;
  top: 117px;
  left: 90px;
}/*# sourceMappingURL=styles.css.map */